<a href="https://colab.research.google.com/github/Anmolvlog/UniCompiler/blob/main/House.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as pyplot
import seaborn as sns

In [2]:
house=pd.read_csv("/content/train.csv")

In [3]:
house.head(5)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [30]:
X=house[['Id','MSSubClass','LotArea','MoSold','YrSold']]
y=house['SalePrice']

In [31]:
from sklearn.model_selection import train_test_split

In [32]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.25)

In [33]:
from sklearn.linear_model import LinearRegression

In [34]:
lr=LinearRegression()

In [35]:
lr.fit(X_train,y_train)

LinearRegression()

In [37]:
y_pred=lr.predict(X_test)

In [38]:
from sklearn.metrics import confusion_matrix,classification_report

In [41]:
from sklearn import metrics

In [42]:
print('MAE:',metrics.mean_absolute_error(y_test,y_pred))

MAE: 55142.93571573855

In [43]:
print('MSE:',metrics.mean_squared_error(y_test,y_pred))

MSE: 6227161263.085663

In [44]:
print('RMSE:',np.sqrt(metrics.mean_absolute_error(y_test,y_pred)))

RMSE: 234.82533022597573